nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
    a.navbar-brand(href='/') Port-Able
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
            if session.admin
                li.nav-item
                    a.nav-link(href='/users')
                        | Użytkownicy
                        span.sr-only (current)
                li.nav-item
                    a.nav-link(href='/product/add')
                        | Dodaj produkt
                        span.sr-only (current)
        form.form-inline.my-2.my-lg-0(action="/search")
            input.form-control.mr-sm-2(type='search' placeholder='Szukaj...' aria-label='Search' name='term')
            button.btn.btn-outline-light.my-2.my-sm-0(type='submit') Szukaj
        ul#management.navbar-nav.ml-auto
            li.nav-item.show.show
                if session.admin
                    a.nav-link(href="/orders") Lista zamówień
                else
                    a.nav-link(href="/cart/checkout") Koszyk
            li.nav-item.dropdown.show
                a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                    if session.user
                        =session.user
                    else 
                        | Zaloguj
                .dropdown-menu(aria-labelledby='navbarDropdown')
                    if session.valid
                        a.dropdown-item(href='/logout') Wyloguj
                        if !session.admin
                            a.dropdown-item(href='/orders') Moje zamówienia
                    else
                        a.dropdown-item(href='/login') Zaloguj
                        a.dropdown-item(href='/register') Zarejestruj
                    