extends layout

block content
    .col-sm-8.main-section.text-center
        h2.float-left Dodaj produkt
        form.col-12(action="/product/add" method="POST")
            .form-group
                input.form-control(type="text" placeholder="Nazwa produktu" name="title")
            .form-group
                input.form-control(type="text" placeholder="Url obrazka" name="image")
            .form-group
                textarea.form-control(placeholder="Opis" rows="10" style="width:100%;" name="description")
            .form-group
                input.form-control(type="number" name="price" step="0.01" placeholder="Cena")
            button.btn.btn-success(type="submit") Dodaj
            if (errors != undefined) 
                each err in errors
                    .alert.alert-danger=err.msg
