<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%- title; %>
    </title>

    <!-- CSS (load bootstrap from a CDN) -->
    <style>
        body {
            padding-top: 50px;
        }
    </style>
</head>

<body>
    <div class="container">
        <%- include('includes/header') %>
            <main class="min-height">
                <section class="menu">
                    <div id="signInContainer">
                        <div class="sign-in-container">
                            <div class="control-container">
                                <input type="text" name="login" />
                                <label>Login</label>
                            </div>
                            <div class="control-container">
                                <input type="password" name="password">
                                <label>Hasło</label>
                            </div>
                            <div>
                                <button>Zaloguj</button>
                            </div>
                            <% if ( locals.message ) { %>
                                <div class='message'>
                                    <%= locals.message %>
                                </div>
                            <% } %>

                        </div>
                        
                        <a href="/register">Utwóż konto!</a>
                    </div>
                    <h3>Kategorie</h3>
                    <div class="kategorie">

                    </div>
                </section>
                <section class="prawa">
                    Produkty
                </section>
            </main>
            <%- include('includes/footer') %>
    </div>
</body>

</html>