extends layout

block content
    .col-sm-8.main-section.text-center
        h2.float-left Zaloguj
        form.col-12(action="/login" method="POST")
            .form-group
                input.form-control(type="text" placeholder="Login" name="username")
            .form-group
                input.form-control(type="password" placeholder="Hasło" name="password")
            button.btn.btn-success(type="submit") Zalogguj
        .col-12
            a.links(href="/register") Załóż konto
