<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rejestracja</title>
</head>

<body>
    <form method="POST">
        <div>
            <p>Login: <input type='text' id='login' name='login' value='' /></p>
            <p>Hasło: <input type='text' id='haslo' name='haslo' value='' /></p>
            <p>Powtórz hasło: <input type='text' id='haslo2' name='haslo2' value='' /></p>
            <p>Imię: <input type='text' id='imie' name='imie' value='' /></p>
            <p>Nazwisko: <input type='text' id='nazwisko' name='nazwisko' value='' /></p>
            <p>Miasto: <input type='text' id='miasto' name='miasto' value='' /></p>
            <p>Adres: <input type='text' id='adres' name='adres' value='' /></p>
            <p>Email: <input type='text' id='email' name='email' value='' /></p>
            <p>Numer Telefonu: <input type='text' id='nr_telefonu' name='nr_telefonu' value='' /></p>
        </div>
        <button>Zapisz</button>
    </form>
</body>

</html>