extends layout

mixin user(id, usr, adm, norders)
    th(scope="row")=id
    td=usr
    td=adm
    td=norders

block content
    .row
        table.table
            tr
                th id
                th Login
                th Admin
                th Liczba zamówień
                each user in users 
                    tr
                        +user(user.id, user.username, user.admin, user.norders)